body {
  background: rgb(197, 190, 190);
  color: #111;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
  text-align: center;
}
footer,
header {
  text-align: center;
}
footer {
  background-color: #cecece;
  padding: 1rem;
  border-radius: 10px;
}
img#image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
}
.today-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.holder {
  border: #cecece solid 5px;
  border-radius: 10px;
  background-color: #cecece;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 20px;
}
.nav {
  margin: 0px;
  text-decoration: none;
  display: flex;
}

ul {
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cecece;
  border-radius: 10px;
}

li a,
li p {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #048caa;
}
.article-title {
  text-align: center;
}
article p,
article h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#today-text {
  text-align: center;
}
.five-day-text {
  text-align: center;
}
